.main {
  padding: 20px 65px!important;
}

.mainform {
  width: 25em!important;
}

.mform-control {
  width: 18rem!important;
}

.mbtn {
  width: 25rem!important;
}
.adv {
  display: none;
}

.bigckbox{
-webkit-transform: scale(1.5); /* Safari and Chrome */
padding: 10px;
}
